/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html {
	height: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a {
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	position: relative;
	line-height: 1.4;
  font-family: Arial, Helvetica;
	min-height: 100%;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* micro clear fix */
.grouping:before,
.grouping:after {
  content: " ";
  display: table;
}
.grouping:after {
	clear: both;
}
img, iframe, object, video {
  max-width: 100%;
}
strong, b {
  font-weight: bold;
}
/***************************
FONTS
***************************/
/* Italic */
@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-italic-webfont.eot');
    src: url('../fonts/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-italic-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-italic-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: italic;

}
/* Regular */
@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/****************************
NAV BAR
*****************************/
nav {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}
nav figure {
	position: absolute;
	top: 5px;
	left: 50px;
	-webkit-animation-name: slideDown;
	-webkit-animation-duration: .25s;
	-webkit-animation-timing-function: ease;
	}
	@-webkit-keyframes slideDown{
		0% {-webkit-transform: translateY(0%); opacity: 0;}
		50% {-webkit-transform: translateY(50%);}
		100% {-webkit-transform: translateY(0%); opacity:1;}
	}
nav img {
  width: 160px;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
}
.primary-nav {
  float: right;
}
.primary-nav > li {
  float: left;
}
.primary-nav > li > a {
  float: left;
  padding: 25px 0;
  width: 200px;
}
nav li a {
  font-family: "League Gothic", Arial, Helvetica, sans-serif;
  color: #000;
  text-transform: uppercase;
  font-size: 25px;
	font-weight: bold;
	letter-spacing: 5px;
  text-align: center;
  -webkit-transition: 0.15s background-color linear;
  -moz-transition: 0.15s background-color linear;
  -o-transition: 0.15s background-color linear;
  transition: 0.15s background-color linear;
}
nav li a:focus,
nav li a:hover,
nav li a.active {
  background-color: #2A596F;
  color: #fff;
}
/* Navbar media query */
@media screen and (max-width: 1020px) {
	nav figure {
		width: 100px;
		top: 0;
	}
	.primary-nav li a {
		width: 175px;
		font-size: 20px;
	}
}
@media screen and (max-width: 900px) {
	nav {
		position: fixed;
	}
	.mobile-menu-icon {
		background: url('../images/menu-1.png') 0 0 no-repeat;
		width: 50px;
		height: 50px;
		float: right;
		cursor: pointer;
	}
	.mobile-menu-icon.open {
		border-bottom: 2px;
		border-style: dotted;
		border-color: red;
	}
	.primary-nav {
		width: 100%;
		max-height: 0;
		overflow: hidden;
		-webkit-transition: all ease-in-out .35s;
		-moz-transition: all ease-in-out .35s;
		-o-transition: all ease-in-out .35s;
		transition: all ease-in-out .35s;
	}
	.primary-nav.active {
		max-height: 350px;
	}
	.primary-nav > li {
		float: right;
		width: 100%;
	}
	.primary-nav li a {
		text-align: right;
		padding: 15px 25px 15px 0;
		width: 100%;
		font-size: 20px;
	}
	nav figure {
		width: 100px;
		top: 0;
	}
}
/*************************************
BUTTONS
*************************************/
.button {
	color: #000;
	border-radius: 10%;
	font-family: "League Gothic", Arial, Helvetica, sans-serif;
	font-size: 30px;
	text-align: center;
	letter-spacing: 1.5px;
}
.button:focus,
.button:hover,
.button.active {
	text-decoration: underline;
}
/**************************************
HEADER PICTURE
**************************************/
.top-picture-wrapper {
	height: 400px;
	overflow: hidden;
}
.top-picture-wrapper figure img {
	width: 100%;
	height: 100%;
}
/**************************************
ABOUT MAIN SECTION
**************************************/
.about-section-wrapper {
	width: 100%;
	padding-top: 6%;
	background-color: #f6f6f6;
	padding-bottom: 6%;
}
.about-left-content {
	float: left;
	padding-left: 10%;
	width: 30%;
}
.about-left-content h1 {
	font-family: "League Gothic", Arial, Helvetica, sans-serif;
	font-size: 3rem;
	letter-spacing: 1.8px;
	padding-bottom: 1rem;
}
.about-left-content p {
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
}
.about-left-content p:first-of-type {
	padding-bottom: 2rem;
}
.about-left-content p:nth-child(4), .about-left-content p:nth-child(5) {
	text-align: center;
	padding-top: 3%;
	font-family: "League Gothic", Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 1.5rem;
}
.about-right-content {
	float: right;
	padding-right: 10%;
	width: 50%;
	text-align: center;
}
.about-right-content img {
	width: 30rem;
	height: 30rem;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
}
/**************************************
SERVICES MAIN SECTION
**************************************/
.services-wrapper {
	width: 100%;
	padding-top: 6%;
	background-color: #f6f6f6;
	padding-bottom: 6%;
}
.services-right-content h1, .services-left-content h1 {
	font-family: "League Gothic", Arial, Helvetica, sans-serif;
	font-size: 3rem;
	letter-spacing: 1.8px;
	padding-bottom: 1rem;
}
.services-left-content {
	width: 40%;
	padding-left: 10%;
	float: left;
}
.mixing-and-mastering-prices {
	width: 100%;
	display: inline-block;
	padding: 3% 0;
}
.mixing-and-mastering-prices h3 {
	font-size: 1.5rem;
}
.mixing-and-mastering-prices h3, .mixing-and-mastering-prices p {
	width: 90%;
	float: left;
}
.services-left-content h2 {
	width: 10%;
	float: right;
}
.services-right-content {
	width: 40%;
	padding-right: 10%;
	float: right;
	text-align: center;
}
.services-right-content div {
	display: inline-block;
	width: 22.7%;
	background-color: #B0903D;
	padding: 5% 5% 5% 5%;
}
.services-right-content h3 {
	font-family: "League Gothic", Arial, Helvetica, sans-serif;
	font-size: 2rem;
}
#price {
	width: 100%;
	padding: 0;
	display: inline-block;
}
#price p {
	float: left;
	width: 20%;
	padding-top: 35%;
}
#price h2 {
	text-align: left;
	float: right;
	width: 80%;
}
.services-right-content h2 {
	font-size: 4rem;
}
.services-right-content a {
	padding-top: 2rem;
}
/**************************************
SOUNDCLOUD BREAK
**************************************/
.soundcloud-wrapper {
	width:80%;
	padding: 5% 10%;
}
/**************************************
CONTACT FORM
**************************************/
.contact-form-wrapper {
	height: 100%;
	background-color: #B0553D;
	text-align: center;
	width: 80%;
	padding: 2% 10%;
}
.contact-form-wrapper h1 {
	font-family: "League Gothic", Arial, Helvetica, sans-serif;
	font-size: 3rem;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
/**************************************
FOOTER
**************************************/
.footer {
  /*position: absolute;
  right: 0;
  bottom: 0;
  left: 0;*/
  padding: 1rem;
  background-color: #2A596F;
	text-align: center;
	clear: both;
}
.footer-nav {
	padding-top: 30px;
	text-align: center;
}
.footer-nav li {
	display: inline-block;
}
.footer-nav li a {
	padding-left: 25px;
}
footer li a {
	font-family: "League Gothic", Arial, Helvetica, sans-serif;
  color: #000;
	font-size: 20px;
	letter-spacing: 1px;
}
.footer-logo {
	width: 100px;
	height: 100px;
	padding-top: 15px;
}
footer li a:focus,
footer li a:hover,
footer li a.active {
	color: #fff;
}
/* Navbar media query */
@media screen and (max-width: 900px) {
	.footer-nav li {
		display: block;
	}
}
