/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html {
	height: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a {
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	position: relative;
	line-height: 1.4;
  font-family: "Roboto Condensed", Arial, Helvetica;
	min-height: 100%;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* micro clear fix */
.grouping:before,
.grouping:after {
  content: " ";
  display: table;
}
.grouping:after {
	clear: both;
}
img, iframe, object, video {
  max-width: 100%;
}
strong, b {
  font-weight: bold;
}
/****************************
NAV BAR
*****************************/
nav {
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	background-color: black;
}
nav > header {
	display: block;
	width: 86%;
	margin: 0 auto;
	color: #fff;
}
nav figure {
	float: left;
	display: block;
	-webkit-animation-name: slideDown;
	-webkit-animation-duration: .25s;
	-webkit-animation-timing-function: ease;
	}
	@-webkit-keyframes slideDown{
		0% {-webkit-transform: translateY(0%); opacity: 0;}
		50% {-webkit-transform: translateY(50%);}
		100% {-webkit-transform: translateY(0%); opacity:1;}
	}
nav img {
  width: 130px;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	margin: 20px 0;
}
.oneLineWrapper {
	float: right;
	padding-top: 3%;
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-size: 1.2vw;
	color: rgb(255, 255, 255);
	letter-spacing: -0.3px;
}
.infoWrapper {
	float: right;
	clear: right;
	margin: 13px 0;
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-size: 1.2vw;
	color: rgb(255, 255, 255);
	letter-spacing: -0.3px;
}
.infoWrapper a {
	cursor: pointer;
	color: #ccc;
}
.infoWrapper a:first-child {
	margin-right: 28px;
}
.infoWrapper a:hover {
	color: #d3d3d3;
}
.primary-nav {
  float: right;
	clear: right;
}
.primary-nav > li {
  float: left;
}
.primary-nav > li > a {
  float: left;
	margin-right: 28px;
	cursor: pointer;
}
.primary-nav > li:last-child > a {
	margin-right: 0;
}
nav li a {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7vw;
	font-weight: bold;
	letter-spacing: -0.3px;
  text-align: center;
  -webkit-transition: 0.15s background-color linear;
  -moz-transition: 0.15s background-color linear;
  -o-transition: 0.15s background-color linear;
  transition: 0.15s background-color linear;
}
nav li a:focus,
nav li a:hover,
nav li a.active {
  color: #ccc;
}
/* Navbar media query */
@media screen and (max-width: 1020px) {
	nav figure {
		width: 100px;
		top: 0;
	}
	.primary-nav li a {
		width: 175px;
		font-size: 20px;
	}
}
@media screen and (max-width: 900px) {
	nav {
		position: fixed;
	}
	.mobile-menu-icon {
		background: url('../images/menu-1.png') 0 0 no-repeat;
		width: 50px;
		height: 50px;
		float: right;
		cursor: pointer;
	}
	.mobile-menu-icon.open {
		border-bottom: 2px;
		border-style: dotted;
		border-color: red;
	}
	.primary-nav {
		width: 100%;
		max-height: 0;
		overflow: hidden;
		-webkit-transition: all ease-in-out .35s;
		-moz-transition: all ease-in-out .35s;
		-o-transition: all ease-in-out .35s;
		transition: all ease-in-out .35s;
	}
	.primary-nav.active {
		max-height: 350px;
	}
	.primary-nav > li {
		float: right;
		width: 100%;
	}
	.primary-nav li a {
		text-align: right;
		padding: 15px 25px 15px 0;
		width: 100%;
		font-size: 20px;
	}
	nav figure {
		width: 100px;
		top: 0;
	}
}
/**************************************
SLIDESHOW
**************************************/
.slideshow-wrapper {
	box-sizing: border-box;
	margin: auto;
	float: left;
	width: 100%;
	padding-top: 5px;
}
div div img {
	width: 100%;
	height: 100%;
}
.slides {
	display: none;
	width: 86%;
	margin: 0 auto;
}
.slides:first-child {
	display: block;
}
.slides img {
	height: 768px;
}
/* Arrow buttons */
.previous, .next {
	cursor: pointer;
	position: absolute;
	top: 300px;
	width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.previous:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* text */
.text {
	color: #f2f2f2;
	font-size: 20px;
	padding: 8px 12px;
	position: absolute;
	top: 250px;
	left: 0;
	right: 0;
	text-align: center;
}
.text h2 {
	font-size: 100px;
	color: #fff;
	font-family: "League Gothic", Arial, Helvetica, sans-serif;
}
.text p {
	font-size: 30px;
	font-weight: bold;
}
/*************************************
BUTTONS
*************************************/
.button {
	color: #fff;
	border-radius: 10%;
	font-family: "League Gothic", Arial, Helvetica, sans-serif;
	font-size: 30px;
	text-align: center;
	letter-spacing: 1.5px;
}
.button:focus,
.button:hover,
.button.active {
	text-decoration: underline;
}
/**************************************
MAIN
**************************************/
.main-wrapper {
	width: 100%;
	padding: 50px 0;
	clear: both;
	float: left;
}
.main {
	display: block;
	margin: 0 auto;
	width: 86%;
}
.main-header {
	float: left;
	width: 20%;
	font-size: 5vw;
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 68px;
	letter-spacing: -0.3px;
}
.main-text {
	font-family: "Roboto Condensed", Helvetica, sans-serif;
	font-size: 1.4vw;
	width: 70%;
	float: right;
	letter-spacing: -0.3px;
}

.main-text p {
	margin-bottom: 50px;
	line-height: 23px;
}

.main-text p:last-child {
	margin-bottom: 0;
}

/* main section media query */
@media screen and (max-width: 900px) {
	.main-wrapper {
		width: 90%;
		height: 90%;
		padding: 5% 5% 5% 5%;
		text-align: center;
	}
	.main-header {
		float: none;
		width: 100%;
		padding-left: 0;
		padding-top: 0;
		font-size: 50px;
	}
	.main-text {
		float: none;
		width: 100%;
		padding-right: 0;
		font-size: 15px;
	}
}
/*************************************
PICTURE BREAK
*************************************/
.picture-break-wrapper {
	height: 300px;
	clear: both;
}
.picture-break-wrapper img {
	width: 100%;
	height: 100%;
}
/**************************************
ABOUT
**************************************/
.about-section-wrapper {
	margin: 0 auto;
	float: left;
	display: block;
	background-color: #B0553D;
	text-align: center;
	width: 100%;
	max-width: 100%;
	font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}
.about-section-profile {
	width: 86%;
	margin: 4% auto;
}
.about-section-profile img {
	width: 200px;
	border-radius: 50%;
}
.about-section-profile h1 {
	font-size: 5vw;
	font-weight: bold;
	letter-spacing: -0.3px;
}
.about-section-profile p {
	padding-top: 4%;
	font-size: 25px;
	letter-spacing: -0.3px;
	line-height: 31px;
}
/**************************************
SECOND PICTURE BREAK
**************************************/
.picture-break2-wrapper {
	height: 300px;
	clear: both;
	float: left;
}
.picture-break2-wrapper img {
	width: 100%;
	height: 100%;
}

/**************************************
SERVICES SECTION
**************************************/
.tableWrapper {
	clear: both;
	width: 100%;
	float: left;
	margin: 4% 0;
}
/*********** TOP BAR *****************/
.top-bar-wrapper {
	width: 86%;
	display: block;
	background-color: #f6f6f6;
	clear: both;
	margin: 0 auto;
}
.not-selected {
	background-color: #ccc;
}
.selected {
	text-decoration: underline;
	background-color: #B0903D;
}
.top-bar-element {
	width: 33.333333333%;
	padding: 4vh 0;
	float: left;
	display: block;
	text-align: center;
	cursor: pointer;
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-size: 1.7vw;
	font-weight: bold;
	letter-spacing: -0.3px;
	margin: 0 0 1.5rem;
	text-transform: uppercase;
}
.top-bar-element:hover {
	text-decoration: underline;
	background-color: #B0903D;
}
/*********** AUDIO SERVICES **********/
.services-section-wrapper {
	clear: both;
}
.audio-services-wrapper,
.hire-gear-wrapper,
.entertainment-wrapper {
	width: 100%;
	background-color: #f6f6f6;
	padding-bottom: 6%;
	float: left;
}
.hire-gear-wrapper,
.entertainment-wrapper {
	display: none;
}
.services-right-content h1, .services-left-content h1 {
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-size: 1.7vw;
	letter-spacing: -0.3px;
	padding-bottom: 1rem;
}
.services-left-content {
	width: 43%;
	padding-left: 7%;
	float: left;
}
.mixing-and-mastering-prices {
	width: 100%;
	display: inline-block;
	padding: 3% 0 0;
}
.mixing-and-mastering-prices h3 {
	font-size: 1.7vw;
}
.mixing-and-mastering-prices h3, .mixing-and-mastering-prices p {
	width: 90%;
	float: left;
}
.services-left-content h2 {
	width: 10%;
	float: right;
}
.services-right-content {
	width: 43%;
	padding-right: 7%;
	float: right;
	text-align: center;
}
.services-right-content div {
	display: inline-block;
	width: 22.7%;
	background-color: #B0903D;
	padding: 5% 5% 5% 5%;
}
.services-right-content h3 {
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-size: 1.7vw;
	letter-spacing: -0.3px;
}
#price {
	width: 100%;
	padding: 0;
	display: inline-block;
}
#price p {
	float: left;
	width: 20%;
	padding-top: 35%;
}
#price h2 {
	text-align: left;
	float: right;
	width: 80%;
}
.services-right-content h2 {
	font-size: 4rem;
}
.services-right-content a {
	padding-top: 2rem;
}
/* Services section media query */
@media screen and (max-width: 900px) {
	.services-wrapper {
		text-align: center;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.services-left-content {
		float: none;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
	}
	.services-left-content h3 {
		width: 100%;
	}
	.services-right-content {
		float: none;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
	}
	.services-right-content h1 {
		text-align: center;
		width: 100%;
	}
	.services-right-content div {
		display: block;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}
	#price {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	#price p {
		padding-top: 20%;
	}
}
/**************************************
CONTACT
**************************************/
.contact-wrapper {
	clear: both;
	float: left;
	background-color: #000;
	color: #fff;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}
.soundcloud-iframe {
	float: left;
	padding-left: 7%;
	width: 55%;
}
.contact-details {
	float: right;
	text-align: right;
	padding-right: 7%;
	padding-left: 5%;
	width: 26%;
}
.contact-details h1 {
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-size: 1.7vw;
	font-weight: bold;
	width: 100%;
	letter-spacing: -0.3px;
}
.contact-details ul {
	line-height: 22.4px;
}
.contact-details ul li:last-child {
	color: #B0903D;
}
/* contact media query */
@media screen and (max-width:900px) {
	.contact-wrapper {
		width: 80%;
		padding-left: 10%;
		padding-right: 10%;
		text-align: center;
	}
	.soundcloud-iframe {
		float: none;
		padding: 0 0 0 0;
		width: 100%;
	}
	.contact-details {
		float: none;
		padding: 0 0 0 0;
		width: 100%;
	}
}
/**************************************
FOOTER
**************************************/
.footer {
  padding: 1rem 0;
  background-color: #000;
	text-align: center;
	clear: both;
	width: 100%;
}
.footer-nav {
	margin: 0 auto;
	width: 86%;
}
.footer-nav ul {
	list-style: none;
	float: right;
	width: 22%;
}
.footer-nav li a {
	margin-left: 12px;
	float: right;
}
.footer-nav li a img {
	width: 55px;
	height: 55px;
}
.trademark {
	float: left;
	color: #B0903D;
	line-height: 55px;
}
footer li a {
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  color: #B0903D;
	font-size: 20px;
	letter-spacing: 1px;
}
.footer-logo {
	width: 100px;
	height: 100px;
	padding-top: 15px;
}
footer li a:focus,
footer li a:hover,
footer li a.active {
	color: #fff;
}
@media screen and (max-width: 900px) {
	.footer-nav li {
		display: block;
	}
	.footer-nav li a {
		padding-left: 0;
	}
}
