/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html {
	height: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a {
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	position: relative;
	line-height: 1.4;
  font-family: Arial, Helvetica;
	min-height: 100%;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* micro clear fix */
.grouping:before,
.grouping:after {
  content: " ";
  display: table;
}
.grouping:after {
	clear: both;
}
img, iframe, object, video {
  max-width: 100%;
}
strong, b {
  font-weight: bold;
}
/***************************
FONTS
***************************/
/* Italic */
@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-italic-webfont.eot');
    src: url('../fonts/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-italic-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-italic-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: italic;

}
/* Regular */
@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/****************************
NAV BAR
*****************************/
nav {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}
nav figure {
	position: absolute;
	top: 5px;
	left: 50px;
	-webkit-animation-name: slideDown;
	-webkit-animation-duration: .25s;
	-webkit-animation-timing-function: ease;
	}
	@-webkit-keyframes slideDown{
		0% {-webkit-transform: translateY(0%); opacity: 0;}
		50% {-webkit-transform: translateY(50%);}
		100% {-webkit-transform: translateY(0%); opacity:1;}
	}
nav img {
  width: 160px;
}
.primary-nav {
  float: right;
}
.primary-nav > li {
  float: left;
}
.primary-nav > li > a {
  float: left;
  padding: 25px 0;
  width: 150px;
}
nav li a {
  font-family: "League Gothic", Arial, Helvetica, sans-serif;
  color: #000;
  text-transform: uppercase;
  font-size: 25px;
	font-weight: bold;
	letter-spacing: 5px;
  text-align: center;
  -webkit-transition: 0.15s background-color linear;
  -moz-transition: 0.15s background-color linear;
  -o-transition: 0.15s background-color linear;
  transition: 0.15s background-color linear;
}
nav li a:focus,
nav li a:hover,
nav li a.active {
  background-color: #2A596F;
  color: #fff;
}
/* Navbar media query */
@media screen and (max-width: 900px) {
	nav {
		position: fixed;
	}
	.mobile-menu-icon {
		background: url('../images/menu-1.png') 0 0 no-repeat;
		width: 50px;
		height: 50px;
		float: right;
		cursor: pointer;
	}
	.mobile-menu-icon.open {
		border-bottom: 2px;
		border-style: dotted;
		border-color: red;
	}
	.primary-nav {
		width: 100%;
		max-height: 0;
		overflow: hidden;
		-webkit-transition: all ease-in-out .35s;
		-moz-transition: all ease-in-out .35s;
		-o-transition: all ease-in-out .35s;
		transition: all ease-in-out .35s;
	}
	.primary-nav.active {
		max-height: 350px;
	}
	.primary-nav > li {
		float: right;
		width: 100%;
	}
	.primary-nav li a {
		text-align: right;
		padding: 15px 25px 15px 0;
		width: 100%;
		font-size: 20px;
	}
	nav figure {
		width: 100px;
		top: 0;
	}
}

/**************************************
SLIDESHOW
**************************************/
.slideshow-wrapper {
	box-sizing: border-box;
	margin: auto;
}
div div img {
	width: 100%;
	height: 100%;
}
.slides {
	display: none;
}
.slides img {
	height: 768px;
}
/* Arrow buttons */
.previous, .next {
	cursor: pointer;
	position: absolute;
	top: 300px;
	width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.previous:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* text */
.text {
	color: #f2f2f2;
	font-size: 20px;
	padding: 8px 12px;
	position: absolute;
	top: 250px;
	left: 0;
	right: 0;
	text-align: center;
}
.text h2 {
	font-size: 100px;
	color: #fff;
	font-family: "League Gothic", Arial, Helvetica, sans-serif;
}
.text p {
	font-size: 30px;
	font-weight: bold;
}
/*************************************
BUTTONS
*************************************/
.button {
	color: #fff;
	border-radius: 10%;
	font-family: "League Gothic", Arial, Helvetica, sans-serif;
	font-size: 30px;
	text-align: center;
	letter-spacing: 1.5px;
}
.button:focus,
.button:hover,
.button.active {
	text-decoration: underline;
}
/**************************************
MAIN
**************************************/
.main-wrapper {
	width: 100%;
	padding-top: 50px;
}
.main-header {
	float: left;
	width: 20%;
	padding-left: 10%;
	font-size: 70px;
	font-family: "League Gothic", Arial, Helvetica, sans-serif;
}
.main-text {
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	width: 60%;
	padding-right: 10%;
	float: right;
}

/* main section media query */
@media screen and (max-width: 900px) {
	.main-wrapper {
		width: 90%;
		height: 90%;
		padding: 5% 5% 5% 5%;
		text-align: center;
	}
	.main-header {
		float: none;
		width: 100%;
		padding-left: 0;
		font-size: 50px;
	}
	.main-text {
		float: none;
		width: 100%;
		padding-right: 0;
		font-size: 15px;
	}
}
/*************************************
PICTURE BREAK
*************************************/
.picture-break-wrapper {
	padding-top: 50px;
	height: 300px;
}
.picture-break-wrapper img {
	width: 100%;
	height: 100%;
}
/**************************************
ABOUT
**************************************/
.about-section-wrapper {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #B0553D;
	text-align: center;
}
.about-section-profile {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
}
.about-section-profile img {
	width: 200px;
	border-radius: 50%;
}
.about-section-profile h1 {
	font-family: "League Gothic", Arial, Helvetica, sans-serif;
	font-size: 80px;
}
.about-section-profile p {
	padding-top: 20px;
	font-size: 25px;
}
/**************************************
SECOND PICTURE BREAK
**************************************/
.picture-break2-wrapper {
	height: 300px;
}
.picture-break2-wrapper img {
	width: 100%;
	height: 100%;
}
/**************************************
CONTACT
**************************************/
.contact-wrapper {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}
.soundcloud-iframe {
	float: left;
	padding-left: 10%;
	width: 55%;
}
.contact-details {
	float: right;
	padding-right: 10%;
	padding-left: 5%;
	width: 20%;
	line-height: 2;
}
.contact-details h1 {
	font-family: "League Gothic", Arial, Helvetica, sans-serif;
	font-size: 70px;
	width: 100%;
}
.contact-details p:last-child {
	color: #B0903D;
}
/* contact media query */
@media screen and (max-width:900px) {
	.contact-wrapper {
		width: 80%;
		padding-left: 10%;
		padding-right: 10%;
		text-align: center;
	}
	.soundcloud-iframe {
		float: none;
		padding: 0 0 0 0;
		width: 100%;
	}
	.contact-details {
		float: none;
		padding: 0 0 0 0;
		width: 100%;
	}
}
/**************************************
FOOTER
**************************************/
.footer {
  /*position: absolute;
  right: 0;
  bottom: 0;
  left: 0;*/
  padding: 1rem;
  background-color: #2A596F;
	text-align: center;
	clear: both;
}
.footer-nav {
	padding-top: 30px;
	text-align: center;
}
.footer-nav li {
	display: inline-block;
}
.footer-nav li a {
	padding-left: 25px;
}
footer li a {
	font-family: "League Gothic", Arial, Helvetica, sans-serif;
  color: #000;
	font-size: 20px;
	letter-spacing: 1px;
}
.footer-logo {
	width: 100px;
	height: 100px;
	padding-top: 15px;
}
footer li a:focus,
footer li a:hover,
footer li a.active {
	color: #fff;
}
/* Navbar media query */
@media screen and (max-width: 900px) {
	.footer-nav li {
		display: block;
	}
}
